@{
    ViewBag.Title = "Меню";
}
<h2 class="text-center">Меню</h2>



<div class="row">
    <div class="col-md-6">
        <img alt="it`s me" src="~/Images/menu1.jpg" style="width:600px;height:1100px;" />
    </div>
    <div class="col-md-6">
        <img alt="it`s me" src="~/Images/menu2.jpg" style="width:600px;height:1100px;" />
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-6">
        <img alt="it`s me" src="~/Images/menu3.jpg" style="width:600px;height:1100px;" />
    </div>
    <div class="col-md-6">
        <img alt="it`s me" src="~/Images/menu4.jpg" style="width:600px;height:1100px;" />
    </div>
</div>